body {
  background-image:url(assets/machine2-wide.jpg);
  background-size: cover;
}

.container {
  max-width: 690px;
  margin-left: 25%;
  margin-bottom: 80px;
}

.square {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.main-descr {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, .4);
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: right;
}

.main-descr a {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, .4);
}

.main-descr a:hover {
  color: black;
  background-color: rgb(0, 255, 216);
  text-decoration: none;
}

.workshop-descr {
  max-width: 300px;
  max-height: 300px;
  color: rgb(255, 255, 255);
  background-color: rgb(98, 0, 234);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.4);
}

.workshop-descr > h1 > a {
  color: rgb(255, 255, 255);
}

.workshop-descr p {
  text-align: left;
}

.workshop-descr:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(98, 0, 234, .9);
  text-decoration: none;
  box-shadow: none;
}
